
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif, arial, Helvetica;
    text-decoration: none;
   
}



body{
   
    background-color: whitesmoke;
}

header{
    width: 1212px;
    height: 140px;
    margin: auto;   
    
}

#logotipo{
    width: 100%;
    height: 140px;
    background-color: #040d20;
    margin: auto;   
    padding top: 10px;
    
}

#logotipo img{
    display: block;
    float: left;
    width: 80px;
    margin-top: 20px;
    
}

#logotipo h1{
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 300px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    color: #E0B344;
}

/*menú*/
nav{
    width: 1250px;
    height: 40px;
    margin: 0 auto;
    background-color: #1b1e1f;
    border: 1px solid #333;
    box-shadow: 0px 22px 22px #gray;
    font-size: 15px;
    margin-bottom:45px;
}

nav ul{
    list-style: none;
    text-decoration: none;
    
}

nav ul li{

    line-height: 40px;
    float: left;
    
}

nav ul li a{
    display: block;
    padding-left: 15px ;
    padding-right: 15px;
    color: #d1d4d6;

        
}

nav ul li a:hover{
    background-color: #E0B344;
    box-shadow: 0px 0px 5px #33333 inset;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

/*CONTENIDO*/
#content{
    width: 1212px;
    min-height: 930px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.box{
    background: white;
    width: 90%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
}

.boton {
    background-color: #4CAF50;
    border: none;
    padding: 10px 20px;
    font.size: 16px;
    cursor: pointer;
    display:flex;
    align-items: center;
}

.boton img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.boton span {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
