{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    
    <title> 
        {% block title %}
        <SIRENITA: >
        {% endblock %}
        |MARISQUERIA LA SIRENITA 

    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
</head>

<body>
    <header>
        <div id="logotipo">
            <h1> BIENVENIDO </h1>
        </div>
 
    </header>
    
    <nav>


        <ul>
            <li><a href="/AUDITORIA">AUDITORIA</a></li>
            <li><a href="/CAJA">CAJA</a></li>
            <li><a href="/CUENTA">CUENTA</a></li>
            <li><a href="/INICIO">INICIO</a></li>
            <li><a href="/INVENTARIO">INVENTARIO</a></li>
            <li><a href="/ORDEN">ORDEN</a></li>
        </ul>
    </nav>



    <div id="content">
        <h2 class="title"> </h2>
        {% block content %}
        
        {% endblock %}

    <footer> 
        LA SIRENITA &copy;
    </footer>

    </div>

</body>

</html>
